:root {
  --bg-color: #607d8b;
  --main-bg-color: #282c34;
  --resume-bg-color: #cfd8dc;
  --nav-bg-color: #455a64;
  --button-color: #7c4dff;
  --button-active-color: #412c7d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--main-bg-color);
}
